[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "components/esp32-alink"]
	path = components/esp32-alink
	url = https://github.com/espressif/esp32-alink.git
